.custom-bg{
	background:#8B4513!important;
}

body {
   background-color:#FAF0E6;
   overflow-x:hidden;
}
.color-custom{
   background-color:#FAF0E6;
}

.admin .card{
	border : 1px solid #8B4513;
}

.admin .card:hover{
	background : #e2e2e2;
	cursor : pointer;
}
.list-group-item.active {
	background-color:#8B4513;
	border-color: #8B4513;
}

.discount-label{
	font-size:10px!important;
	font-style:italic!important;
}  

.product-card:hover{
	background : #e2e2e2;
	cursor : pointer;
}

.custom-text {
    color: #cc9900;
}
.my-icon{
	color:#FFFACD;
}
.my-text{
	color:#F5F5DC;
}
li {
    text-align: -webkit-match-parent;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.para{
	color:#333333;
}
p {
   font-size: 18px;
   font-family: 'Open Sans', sans-serif;
}
.rad {
       overflow: hidden; /* Ensures content within .rad is clipped to the rounded corners */
        border-radius: 10px; /* Adjust this value to change the roundness */
        width: 100%; /* Ensures .rad spans the full width of its container */
        height: 315px; /* Adjust height as needed */
        position: relative;
    }
    .rad iframe {
        position: absolute; /* Ensures iframe fills its container */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none; /* Removes iframe border */
    }
.search-btn-custom {
        border-color: white !important;
    }

	